#ErrorDocument 404 /cms/pages/404.php    # todo

RewriteEngine on

# Login

RewriteRule ^login/(.*)(\/|\\)?$            index.php?page=login&redirect=$1       [NC,L]
RewriteRule ^login$                         index.php?page=login                   [NC,L]

# User

RewriteRule ^user/(\d+)/.*$                 index.php?page=user&id=$1              [NC,L]

# Nachrichten

RewriteRule ^artikel-einreichen\.?(html)?$  index.php?page=articleManagement       [NC,L]
RewriteRule ^nachrichten\/(\d)+\/.*\.html$  index.php?page=article&id=$1           [NC,L]
RewriteRule ^nachrichten\/?$                index.php?page=articles                [NC,L] # todo

