#ErrorDocument 404 /cms/pages/404.php    # todo

RewriteEngine on

# Login

RewriteRule ^login/(.*)(\/|\\)?$            /cms/index.php?page=login&redirect=$1       [NC,L]
RewriteRule ^login$                         /cms/index.php?page=login                   [NC,L]

# User

RewriteRule ^user/(\d+)/.*$                 /cms/index.php?page=user&id=$1              [NC,L]

# Nachrichten

RewriteRule ^artikel-einreichen.?(html)?$   /cms/index.php?page=articleManagement       [NC,L]
RewriteRule ^nachrichten\/(\d)+\/.*\.html$  /cms/index.php?page=article&id=$1           [NC,L]
RewriteRule ^nachrichten\/?$                /cms/index.php?page=articles                [NC,L] # todo

