article
{
    /*position     : relative;*/
    width        : 70%;
    min-height   : 100%;
    text-align   : left;
    padding-left : 15%;
    padding-top  : 100px;
}

section#headerImage
{
    position : relative;
    top      : 70px;
    left     : 0px;
}

.article_description
{
    overflow       : hidden;
    width          : 80%;
    padding-bottom : 50px;
}

.article_creationTimestamp
{
    position   : relative;
    text-align : right;
    top        : -44px;
    right      : 200px;
}

div.tabs
{
    overflow         : hidden;
    background-color : #2E2D30;
    padding          : 15px;
}
div.tabs.articleManagement{
    text-align:center;
    padding:15px 25px 15px 25px;
}

.tabs > a
{
    background-color : #2E2D30;
    color            : white;
    text-decoration  : none;
    padding          : 10px 10px 10px 10px;
    text-align       : center;
    transition       : 0.3s;
    font-size        : 17px;
}

.tabs > a:hover
{
    background-color : #424046;
}

/* Style the tab content */
.tabcontent
{
    display           : none;
    padding           : 6px 12px;
    -webkit-animation : fadeEffect 1s;
    animation         : fadeEffect 1s;
}
.tabMarker
{
    border-right : 1px solid white;
}

section#headerImage img
{
    display            : block;
    border-top         : 0px;
    margin             : 0px auto;
    max-width          : 100%;
}
section#headerImage img.shadow{
    -webkit-box-shadow : 0px 5px 25px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow    : 0px 5px 25px -3px rgba(0, 0, 0, 0.75);
    box-shadow         : 0px 5px 25px -3px rgba(0, 0, 0, 0.75);
}
/*
 *  articles.tpl
 *
 */

div.nuuwsImg
{
    float        : left;
    margin-right : 15px;
}

div.nuuwsPrev
{
    border-bottom : 1px dotted rgba(0, 0, 0, .33);
}

.nuuwsImg a img
{
    -webkit-box-shadow : 0px 5px 15px 0.5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow    : 0px 5px 15px 0.5px rgba(0, 0, 0, 0.75);
    box-shadow         : 0px 5px 15px 0.5px rgba(0, 0, 0, 0.75);
    border             : 1px solid rgba(0, 0, 0, .33);
}

div#articlesWrapper
{
    margin : -30px 0 0 0;
}
#articlesWrapper h1{
    margin-bottom: 15px
}

@media only screen and (max-width: 500px) {
    aside.nuuwsSpecial{
        display:none!important;
    }
    .themeBox{
        display:none;
    }
}

aside.nuuwsSpecial img{
    width:600px;
    padding-top:10px;
    padding-bottom:10px;
}



.themeBox{
    padding-top:50px;
    width:840px;
    height:425px;
    position: absolute;

    display:inline-block;
}
.themeBox img{
    border:solid black;
}
.themeBox img.regio{
    position: absolute;
    left:0px;
    top:0px;
}
.themeBox img.technik{
    position: absolute;
    left: 220px;
    top: 0px;
}
.themeBox img.politik{
    position: absolute;
    left: 490px;
    top: 0px;
}
.themeBox img.wirtschaft{
    position: absolute;
    top: 275px;
    left: 215px;
}
.themeBox img.digital{
    position: absolute;
    top: 0px;
    left: 760px;
}
.themeBox img.sport{
    position: absolute;
    top: 0px;
    left: 979px;
}




